@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    width: 100%;
    height: 100%;
    font-family: "PP Neue Montreal" !important;
    background-color: #000;
    /* color: white; */
    color: #6a6a6a;
    font-size: 12px;
    font-weight: 500;
    overflow: hidden;
  }

   /* Hide scrollbars for WebKit browsers (e.g., Chrome, Safari) */
   body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbars for Firefox */
  body {
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .size-screen {
    @apply h-screen w-screen;
  }
}
